body {
    background-color: cornsilk;
}

.pageHeader {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.shop {
    width: 20%;
    margin: 0 3em;
}